/* Regular Customers */
.client-list {
  display: flex;
}
.client-list .item {
  width: calc((100% - 150px) / 6);
}
.client-list .item:not(:last-child) {
  margin-right: 30px;
}
.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;

  color: #afb1b8;

  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.client-link:hover,
.client-link:focus {
  color: var(--color-primary-brand-focus);
  fill: var(--color-primary-brand-focus);
  border-color: var(--color-primary-brand-focus);
}

.icon-client {
  fill: currentColor;
  max-width: 86px;
  max-height: 50px;
}

.icon-client:hover,
.icon-client:focus {
  fill: currentColor;
}
